.center-block {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.element {
  	.center-block();
}

/** Boton Flotante */
.floating-action-button .btn {
 	cursor: pointer;
  cursor: hand;
  position: fixed;
  bottom: 30px;
	right: 30px;
}
