<barra-navegacion></barra-navegacion>

<div class="container-fluid">
  <table class="table table-striped table-hoDetalle ">
      <thead>
          <tr>
              <th>Nombre</th>
              <th>Correo</th>
              <th>Número Identificación</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="beneficiario in beneficiariosArray">
              <td>{{beneficiario.nombre}}</td>
              <td>{{beneficiario.correo}}</td>
              <td>{{beneficiario.numeroIdentificacion}}</td>
              <td>
                  <a ng-click="irDetalleBeneficiario(beneficiario)" class="btn btn-flat btn-info btn-xs">Detalle</a>
              </td>
          </tr>
      </tbody>
  </table>
</div>
