<barra-navegacion></barra-navegacion>

<div class="container">
  <div class="page-header">
    <h1>Hola! <small>Nombre del Beneficiario</small></h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="img/estudiante.jpg" alt="">
        <div class="caption">
          <h2>Datos Personales</h2>
          <small>Datos personales del beneficiario.</small>
          <p><a  ng-click="irDatosPersonales()" class="btn btn-primary" role="button">Editar</a> </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="img/libros.jpg" alt="">
        <div class="caption">
          <h2>Datos de la Universidad</h2>
          <small>Datos de la universidad en la que se encuentra estudiando.</small>
          <p><a ng-click="irDatosUniversidad()" class="btn btn-primary" role="button">Editar</a> </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="img/gobierno-en-linea.jpg" alt="">
        <div class="caption">
          <h2>Datos de la entidad pública</h2>
          <small>Datos de la entidad  de naturaleza pública del proyecto.</small>
          <p><a  ng-click="irDatosEntidadPublica()" class="btn btn-primary" role="button">Editar</a> </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="img/ux-project.jpg" alt="">
        <div class="caption">
          <h2>Datos del proyecto</h2>
          <small>Datos del proyecto que esta realizando.</small>
          <p><a ng-click="irDatosUniversidad()" class="btn btn-primary" role="button">Editar</a> </p>
        </div>
      </div>
    </div>
  </div>
</div>
