<barra-navegacion></barra-navegacion>

<div class="container">
  <div class="row">
      <div class="col-3"></div>
      <div class="well col-3" ng-click="irDatosPersonales()">
          <img src="img/usuarioLogo.png" class="img-circle">
          <blockquote class="pull-right">
              <h2>Datos Personales</h2>
              <small>Datos personales del beneficiario.</small>
          </blockquote>
      </div>

      <div class="well col-3" ng-click="irDatosUniversidad()" >
          <img src="img/universidadLogo.png" class="img-circle">
          <blockquote class="pull-right">
              <h2>Datos de la universidad</h2>
              <small>Datos de la universidad en la que se encuentra estudiando.</small>
          </blockquote>
      </div>
      <div class="col-3"></div>
  </div>
  <div class="row">
      <div class="col-3"></div>
      <div class="well col-3">
          <img src="img/gobiernoLogo.png" class="img-circle">
          <blockquote class="pull-right">
              <h2>Datos de la entidad pública</h2>
              <small>Datos de la entidad  de naturaleza pública del proyecto.</small>
          </blockquote>
      </div>

      <div class="well col-3">
          <img src="img/documentoLogo.png" class="img-circle">
          <blockquote class="pull-right">
              <h2>Datos del proyecto</h2>
              <small>Datos del proyecto que esta realizando.</small>
          </blockquote>
      </div>
      <div class="col-3"></div>
  </div>
</div>
