<barra-navegacion></barra-navegacion>

<div class="container">
  <div class="jumbotron">
    <div class="container">
        <h1>Datos Personales</h1>
        <form class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <label class="control-label">Nombre Completo (*)</label>
                    <input type="text" class="form-control" ng-model="usuarioActual.nombre">
                    <p class="text-danger">Error</p>
                </div>
                <div class="form-group">
                    <label class="control-label">Tipo de identificacion (*)</label>
                    <select class="form-control" ng-model="usuarioActual.tipoIdentificacion" ng-options="tipoIdentificacion.id as tipoIdentificacion.nombre for tipoIdentificacion in tiposIdentificacionArray
                    "></select>
                    <p class="text-danger">Error</p>
                </div>
                <div class="form-group">
                    <label class="control-label">Número de indentificación (*)</label>
                    <input type="number" class="form-control" ng-model="usuarioActual.numeroIdentificacion">
                    <p class="text-danger">Error</p>
                </div>
                <div class="form-group">
                    <label class="control-label">Correo (*)</label>
                    <input type="email" class="form-control" ng-model="usuarioActual.correo">
                    <p class="text-danger">Error</p>
                </div>
                <div class="form-group">
                    <label class="control-label">Departamento (*)</label>
                    <select class="form-control" ng-model="usuarioActual.departamento" ng-options="departamento.id as departamento.nombre for departamento in departamentosList
                    "></select>
                    <p class="text-danger">Error</p>
                </div>
                <div class="form-group">
                    <label class="control-label">Ciudad (*)</label>
                    <select class="form-control" ng-model="usuarioActual.ciudad" ng-options="ciudad.id as ciudad.nombre for ciudad in ciudadesList | ciudadesFitro:usuarioActual.departamento
                    "></select>
                    <p class="text-danger">Error</p>
                </div>
                <div class="form-group">
                    <label class="control-label">Convocatoria (*)</label>
                    <select class="form-control" ng-model="usuarioActual.convocatoria" ng-options="convocatoria.id as convocatoria.nombre for convocatoria in convocatoriasList
                    "></select>
                    <p class="text-danger">Error</p>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button class="btn btn-default" ng-click="irDashBoardBeneficiario()">Cancelar</button>
                        <button type="submit" class="btn btn-primary" ng-click="guardarDatos()">Guardar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
  </div>
</div>
