<barra-navegacion-admin></barra-navegacion-admin>

<modal-general></modal-general>

<loading></loading>

<div class="container">
  <div class="jumbotron">
      <div class="page-header">
        <h1>Detalle Convocatoria</h1>
        <h4 class="text-info">Todos los campos marcados con (*) son obligatorios.</h4>
        <button class="btn btn-primary btn-flat"  ng-click="irConvocatorias()"><i class="mdi-navigation-arrow-back"></i> Atras</button>
      </div>
      <form class="form-horizontal" name="detaleConvocatoriaForm">
          <fieldset>
              <div class="form-group">
                  <label class="col-md-2 control-label">Nombre(*)</label>
                  <div class="col-md-7">
                    <input type="text" class="form-control" ng-model="detalleConvocatoria.nombre" name="nombre" required>
                  </div>
                  <div class="col-md-3" ng-show="detaleConvocatoriaForm.nombre.$dirty">
                    <h5 class="text-warning" ng-show="detaleConvocatoriaForm.nombre.$error.required"><i class="mdi-alert-warning"></i> Requerido</h5>
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-2 control-label">Descripcion(*)</label>
                  <div class="col-md-7">
                    <input type="text" class="form-control" ng-model="detalleConvocatoria.descripcion" name="descripcion" required>
                  </div>
                  <div class="col-md-3" ng-show="detaleConvocatoriaForm.descripcion.$dirty">
                    <h5 class="text-warning" ng-show="detaleConvocatoriaForm.descripcion.$error.required"><i class="mdi-alert-warning"></i> Requerido</h5>
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                      <button class="btn btn-default" ng-click="irConvocatorias()">Cancelar</button>
                      <button type="submit" class="btn btn-primary" ng-click="guardarConvocatoria()" ng-disabled="detaleConvocatoriaForm.$invalid">Guardar</button>
                  </div>
              </div>
          </fieldset>
      </form>
  </div>
</div>
