<barra-navegacion-admin></barra-navegacion-admin>

<div class="container-fluid">
  <table class="table table-striped table-hoDetalle ">
      <thead>
          <tr>
              <th>Estado</th>
              <th>Descripción</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="estado in estadosArray">
              <td>{{estado.nombre}}</td>
              <td>{{estado.descripcion}}</td>
               <td>
                  <a ng-click="irDetalleEstado(estado)" class="btn btn-flat btn-info btn-xs">Detalle</a>
              </td>
          </tr>
      </tbody>
  </table>
  <div class="floating-action-button">
      <button ng-click="irNuevoEstado()" class="btn btn-fab btn-raised btn-material-red"><i class="mdi-content-add"></i></button>
  </div>
</div>
