<div  class="container">
    <div class="jumbotron">
        <h1>Login Beneficiario</h1>
        <form class="form-horizontal">
            <fieldset>
                <legend>Digite su email y clave para iniciar la sesión.</legend>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Correo</label>
                    <div class="col-lg-10">
                        <input type="email" class="form-control" placeholder="Correo" ng-model="correo">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Clave</label>
                    <div class="col-lg-10">
                        <input ng-model="clave" type="password" class="form-control" placeholder="Clave">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button ng-click="irRegistroBeneficiario()" class="btn btn-default">Registrarme</button>
                        <button class="btn btn-default">Olvide mi clave</button>
                        <button ng-click="login()" class="btn btn-primary">Aceptar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
