<barra-navegacion-admin></barra-navegacion-admin>

<div class="container">
  <div class="jumbotron">
    <div class="container-fluid">
      <div class="page-header">
        <h1>Nuevo Usuario</h1>
        <h4 class="text-info">Todos los campos marcados con (*) son obligatorios.</h4>
        <button class="btn btn-primary btn-flat"  ng-click="irUsuarios()"><i class="mdi-navigation-arrow-back"></i> Atras</button>
      </div>
      <form class="form-horizontal" name="nuevoUsuario">
          <fieldset>
              <div class="form-group">
                  <label class="col-md-2 control-label">Nombre Completo(*)</label>
                  <div class="col-md-7">
                    <input type="text" class="form-control" ng-model="usuario.nombre" name="nombre" required>
                  </div>
                  <div class="col-md-3" ng-show="nuevoUsuario.nombre.$dirty">
                    <h5 class="text-warning" ng-show="nuevoUsuario.nombre.$error.required"><i class="mdi-alert-warning"></i> Requerido</h5>
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-2 control-label">Correo(*)</label>
                  <div class="col-md-7">
                    <input type="email" class="form-control" ng-model="usuario.correo" name="correo" required>
                  </div>
                  <div class="col-md-3" ng-show="nuevoUsuario.correo.$dirty && nuevoUsuario.correo.$invalid">
                    <h5 class="text-danger" ng-show="nuevoUsuario.correo.$error.email"><i class="mdi-alert-error"></i> Correo invalido</h5>
                    <h5 class="text-warning" ng-show="nuevoUsuario.correo.$error.required"><i class="mdi-alert-warning"></i> Requerido</h5>
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-2 control-label">Clave(*)</label>
                  <div class="col-md-7">
                    <input type="password" class="form-control" ng-model="usuario.clave" name="clave" required="">
                  </div>
                  <div class="col-md-3" ng-show="nuevoUsuario.clave.$dirty">
                    <h5 class="text-warning" ng-show="nuevoUsuario.clave.$error.required"><i class="mdi-alert-warning"></i> Requerido</h5>
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-2 control-label">Estado(*)</label>
                  <div class="col-md-7">
                    <select class="form-control" ng-model="usuario.estado" ng-options="estado.id as estado.nombre for estado in estadosArray" name="estado" required></select>
                  </div>
                  <div class="col-md-3" ng-show="nuevoUsuario.estado.$dirty">
                    <h5 class="text-warning" ng-show="nuevoUsuario.estado.$error.required"><i class="mdi-alert-warning"></i> Requerido</h5>
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-md-10 col-md-offset-2">
                      <button class="btn btn-default" ng-click="irUsuarios()">Cancelar</button>
                      <button type="submit" class="btn btn-primary" ng-click="crearUsuario()" ng-disabled="nuevoUsuario.$invalid">Aceptar</button>
                  </div>
              </div>
          </fieldset>
      </form>
    </div>
  </div>
</div>
