<barra-navegacion-admin></barra-navegacion-admin>

<div class="container">
  <div class="jumbotron">
    <div class="container-fluid">
      <div class="page-header">
        <h1>Nuevo Usuario</h1>
        <h4 class="text-info">Todos los campos marcados con (*) son obligatorios.</h4>
        <button class="btn btn-primary btn-flat"  ng-click="irUsuarios()"><i class="mdi-navigation-arrow-back"></i> Atras</button>
      </div>
      <form class="form-horizontal">
          <fieldset>
              <div class="form-group">
                  <label class="col-md-2 control-label">Nombre Completo(*)</label>
                  <div class="col-md-9">
                    <input type="text" class="form-control" ng-model="usuario.nombre">
                  </div>
                  <div class="col-md-1">
                    <p class="text-danger"><i class="mdi-alert-error"></i></p>
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-2 control-label">Correo(*)</label>
                  <div class="col-md-9">
                    <input type="email" class="form-control" ng-model="usuario.correo">
                  </div>
                  <div class="col-md-1">
                    <p class="text-danger"><i class="mdi-alert-error"></i></p>
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-2 control-label">Clave(*)</label>
                  <div class="col-md-9">
                    <input type="password" class="form-control" ng-model="usuario.clave">
                  </div>
                  <div class="col-md-1">
                    <p class="text-danger"><i class="mdi-alert-error"></i></p>
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-2 control-label">Estado(*)</label>
                  <div class="col-md-9">
                    <select class="form-control" ng-model="usuario.estado" ng-options="estado.id as estado.nombre for estado in estadosArray"></select>
                  </div>
                  <div class="col-md-1">
                    <p class="text-danger"><i class="mdi-alert-error"></i></p>
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-md-10 col-md-offset-2">
                      <button class="btn btn-default" ng-click="irUsuarios()">Cancelar</button>
                      <button type="submit" class="btn btn-primary" ng-click="crearUsuario()">Aceptar</button>
                  </div>
              </div>
          </fieldset>
      </form>
    </div>
  </div>
</div>
