<div class="row">
    <div class="col-3"></div>
    <div class="well col-6">
        <div class="page-header">
          <h1>Registro Beneficiario</h1>
          <small>Todos los campos con marcados con (*) son obligatorios</small>
        </div>
        <div class="form-group">
            <label class="control-label">Nombre Completo (*)</label>
            <input type="text" class="form-control" ng-model="beneficiario.nombre">
            <p class="text-danger">Error</p>
        </div>
        <div class="form-group">
            <label class="control-label">Tipo de identificacion (*)</label>
            <select class="form-control" ng-model="beneficiario.tipoIdentificacion">
                <option value="CC">Cedula</option>
                <option value="TI">Tarjeta de Identidad</option>
            </select>
            <p class="text-danger">Error</p>
        </div>
        <div class="form-group">
            <label class="control-label">Número de indentificación (*)</label>
            <input type="number" class="form-control" ng-model="beneficiario.numeroIdentificacion">
            <p class="text-danger">Error</p>
        </div>
        <div class="form-group">
            <label class="control-label">Correo (*)</label>
            <input type="email" class="form-control" ng-model="beneficiario.correo">
            <p class="text-danger">Error</p>
        </div>
        <div class="form-group">
            <label class="control-label">Clave (*)</label>
            <input type="password" class="form-control" ng-model="beneficiario.clave">
            <p class="text-danger">Error</p>
        </div>
        <!-- <div class="form-group">
            <label class="control-label">Dirección (*)</label>
            <input type="text" class="form-control" ng-model="beneficiario.direccion">
            <p class="text-danger">Error</p>
        </div>
        <div class="form-group">
            <label class="control-label">Departamento (*)</label>
            <select class="form-control" ng-model="beneficiario.departamento">
                <option value="1">Bogotá</option>
                <option value="2">Antioquia</option>
            </select>
            <p class="text-danger">Error</p>
        </div>
        <div class="form-group">
            <label class="control-label">Ciudad (*)</label>
            <select class="form-control" ng-model="beneficiario.ciudad">
                <option value="1">Bogotá</option>
                <option value="2">Medellin</option>
            </select>
            <p class="text-danger">Error</p>
        </div>

        <div class="form-group">
            <label class="control-label">Convocatoria (*)</label>
            <select class="form-control" ng-model="beneficiario.convocatoria">
                <option value="1">2012 - 1</option>
                <option value="2">2012 - 2</option>
                <option value="3">2013 - 1</option>
                <option value="4">2013 - 2</option>
                <option value="5">2014 - 1</option>
                <option value="6">2014 - 2</option>
                <option value="7">2015 - 1</option>
                <option value="8">2015 - 2</option>
            </select>
            <p class="text-danger">Error</p>
        </div> -->

        <div class="form-group">
            <a href="javascript:void(0)" class="btn btn-flat btn-primary">Cancelar</a>
            <a ng-click="registrarBeneficiario()" class="btn btn-primary btn">Aceptar</a>
        </div>

    </div>
    <div class="col-3"></div>
</div>
