<barra-navegacion-funcionario></barra-navegacion-funcionario>

<loading></loading>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well">
        <div class="page-header">
          <h1>Reportes</h1>
        </div>
        <div google-chart chart="chartObject"
           style="padding:5px;width:100%">
        </div>
        <div google-chart chart="reporteDos"
           style="padding:5px;width:100%">
        </div>
        <div google-chart chart="reporteTres"
           style="padding:5px;width:100%">
        </div>
        <div google-chart chart="reporteCuatro"
           style="padding:5px;width:100%">
        </div>
      </div>
    </div>
  </div>
</div>
