<barra-navegacion></barra-navegacion>

<div class="container-fluid">
  <table class="table table-striped table-hoDetalle ">
      <thead>
          <tr>
              <th>Nombre</th>
              <th>Correo</th>
              <!-- <th>Rol</th>
              <th>Estado</th> -->
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="usuario in usuariosArray">
              <td>{{usuario.nombre}}</td>
              <td>{{usuario.correo}}</td>
              <!-- <td>{{usuario.rol.nombre}}</td>
              <td>{{usuario.estado.nombre}}</td> -->
               <td>
                  <a ng-click="irDetalleUsuario(usuario)" class="btn btn-flat btn-info btn-xs">Detalle</a>
                  <a href="javascript:void(0)" class="btn btn-flat btn-danger btn-xs">Eliminar</a>
              </td>
          </tr>
      </tbody>
  </table>
  <div class="floating-action-button">
      <button ng-click="irNuevoUsuario()" class="btn btn-fab btn-raised btn-material-red"><i class="mdi-content-add"></i></button>
  </div>
</div>
